@charset:"utf-8";

@font-face { font-family: 'DioDictFnt3'; src : url('DioDictFnt3.woff'); font-weight: normal; font-style: normal;}


html
{
}

body
{
	font-family:DioDictFnt3, Hevetica, Arial, Heiti, '.Helvetica NeueUI';
	margin:6pt;
	margin-top:20pt;
	border:0;
	color:black;
	word-wrap:break-word;
}

div, span
{
	margin:0;
	padding:0;
}

.small-caps
{
	font-variant:small-caps;
}

.underline
{
	text-decoration:underline;
}

.topline
{
	text-decoration:topline;
}

.bold
{
	font-weight:bold;
}

.italic
{
	font-style:italic;
	color:#3a2e03;
}

.line-through
{
	text-decoration:line-through;
}

.superscript, .subscript
{
	font-size:0.8em;
}

.superscript
{
	vertical-align:super;
}

.subscript
{
	vertical-align:sub;
}

div.keyfield
{
	color:#009ccc;
	line-height: 1.2;
}

div.meanfield
{
	clear:both;
}

div.pure
{
	color:#000000;
	margin:1pt;
	line-height: 1.3;
}

div.example
{
	color:#746d53;
	line-height:1.2;
	margin-left:3pt;
	margin-right:1.5pt;
}

div.idiom
{
	color:#215b6d;
	background-color:#fdfdfb;
	margin: 3pt 0;
	padding:1.5pt 3pt 4.5pt 3pt;
	border:1pt solid rgb(226,223,210);
	line-height:1.2;
}

/*Tip/Note boxstyle*/ 
div.note
{
	color:#ffffff;
	background-color:#009ccc;
	width:30%;
	margin:3pt 1.5pt 3pt 1pt;
	border:1pt solid;
	line-height:1.2;
	font-weight:bold;
}

div.originate
{
	color:blue;
	line-height:1.2;
}

div.predefine
{
	color:black;
	line-height:1.2;
}

div.chinese-char-info
{
	color:black;
	line-height:1.2;
}

div.add-info, span.technical
{
	color:black;
	line-height:1.2;
}

div.submeaning
{
	color:black;
	margin: 7.5pt 0pt;
	padding:0 1.5pt 3pt 3pt;
	border:1pt solid rgb(226,223,210);
	line-height:1.2;
}

span.keyword
{
	font-size:1.4em;
	color:#0031bf;
	word-break:break-all;
}

span.keyword span.bold, span.keyword span.italic, span.keyword span.underline, span.keyword span.topline, span.alternative
{
	color:#0031bf;
}

span.freq
{
	font-size:1.4em;
	color:#9c918a;
}

span.pron
{
	font-size:1.05em;
	color:#32c5bb;
	margin:3pt 0;
}

span.pron span.bold, span.pron span.italic, span.pron span.underline, span.pron span.topline
{
	color:#32c5bb;
}

span.part
{
	color:#00a0d3;
	font-weight:bold;
}

span.category1
{
	color:#28a4dd;
	font-weight:bold;
	font-size: 110%;
	margin: 3pt 0 0 0;
	padding:1.5pt;
	line-height: 1.2;	
}

span.category2
{
	color:#0071f0;
	font-weight:bold;
	font-size: 110%;
	margin: 3pt 0 0 0;
	padding:1.5pt;
	line-height: 1.2;	
}

span.emphasis
{
	color:#5f7a00;
}

img#addButton
{
	float:right;
	opacity:0;
}

img#bookmarkImage
{
	float:right;
	opacity:0;
}

input#tts
{
	vertical-align:-10%;
}

input#tts:disabled
{
	opacity:1.0;
}

table 
{
	margin:0.5em;
	-webkit-border-radius: 7.5pt 7.5pt;
	border-radius: 7.5pt / 7.5pt;
	border: thin solid;
	border-spacing: 0px;
}

th 
{
	background: #e6e6e6;
	border-left: thin solid;
}

th:first-child 
{
	border-left: none;
	-webkit-border-top-left-radius: 7.5pt;
	border-top-left-radius: 7.5pt;
}
th:last-child
{
	-webkit-border-top-right-radius: 7.5pt;
	border-top-right-radius: 7.5pt;
}

tr td 
{
/*	border: thin solid;*/
	border-right: none;
	border-bottom: none;
}

tr td:first-child
{
	border-left: none;
}

th, td
{
	padding:0.15em;
	word-break:break-all;
}

/*.word_ref
{
	color:blue;
	text-decoration:underline;
}*/